<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
	<title>mixedGame</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Home</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <%- navText %>
        </nav>
    </div>
	<div class="container-fluid p-3 my-3 border">
		<h4>Welcome!</h4>
		<p><%=userId%>님 환영합니다!</p>
		<a>
			닉네임: <%= nickname %> <br>level: <%=level%> <br>exp: <%=exp%>
			<br>스피드: <%=speed%> <br>물풍선개수: <%=wbLimitQuantity%> 
			<br>물줄기: <%=wbLen%> <br>돈: <%=money%>
		</a>
		<br><img src="/images/bazzi/배찌31.png" alt='배찌'>
	</div>
    </body>
</html>
