<!DOCTYPE html>
<html lang="en">
<head>
	<title>mixedGame</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body
		{
			background-image: url("https://blackbearwow.github.io/image/paper.gif");
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/" target="_self">HOME</a>
    	<ul class="navbar-nav mr-auto">
			<%- navText %>
    	</ul>
	</nav>
	<br>
	<br>
	<div class="container p-3 my-3 bg-dark text-white">
		<h4>랭킹</h4>
		<ul class="list-group">
			<% for(x in rows) { %>
			<li class="list-group-item list-group-item-action"><a><%=parseInt(x)+1%>위: <%=rows[x].nickname%> level: <%=rows[x].level%> exp: <%=rows[x].exp%></a> <img src="/images/bazzi/배찌31.png" alt='배찌'></li>
			<% } %>
			<!--li class="list-group-item list-group-item-action"><a>1위: 짜짬뽕면 level: 232 exp: 245</a> <img src="/images/bazzi/배찌31.png" alt='배찌'></li>
			<li class="list-group-item list-group-item-action"><a>2위: 무림고수 level: 200 exp: 245</a> <img src="/images/bazzi/배찌32.png" alt='배찌'></li-->
		</ul>
	</div>
    </body>
</html>
